@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">  
        function CancelForm() {
            window.history.go(-1);
            location.reload;
        } 
    </script>  
}

@using MvcFileManager.ViewModels
@model FileViewModel

<body>
    <div style="background-color:white">
        <div>
            <h2>File Details Information</h2>
        </div>
        <div>
            <div>
                <strong>File Name:&nbsp&nbsp</strong>@Model.FileName&nbsp&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
                <strong>Creater:&nbsp&nbsp</strong>@Model.Creater<br />
                <strong>File Upload Time:&nbsp&nbsp</strong>@Model.UploadTime &nbsp&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
                <strong>File Last Midified Time:&nbsp&nbsp</strong> @Model.ModifiedTime<br />
                <strong>File Version:&nbsp&nbsp</strong> No.@Model.Version
            </div>
            <h5>File Content:</h5><br />
            <div style="border:1px solid">
                <pre>
                 @Model.FileContent
                 </pre>
            </div>
        </div>
        <div>
            <input type="button" onclick="self.location.href = '/Home/Edit/'+@Model.FileId" value="Edit" />
            <input type="button" onclick="CancelForm()" value="Return" />
        </div>
    </div>
</body>

