@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/table.css")    
}

@section Scripts{
    <script type="text/javascript">
        $("#Cancel").click(function () {
            window.history.go(-1);
        });
    </script>  
}

@using MvcFileManager.ViewModels
@model FileViewModel

<body>
    <div style="min-height:450px">
        <div>
            <h2>File Details Information</h2>
        </div>
        <table class="sample">
            <tr>
                <th>File Name</th>
                <td>@Model.FileName</td>
            </tr>
            <tr>
                <th>Creater</th>
                <td>@Model.Creater</td>
            </tr>
            <tr>
                <th>Version:</th>
                <td>Version&nbsp @Model.Version</td>
            </tr>
            <tr>
                <th>File Upload Time:</th>
                <td>@Model.UploadTime</td>
            </tr>
            <tr>
                <th>Last Midified Time:</th>
                <td>@Model.ModifiedTime</td>
            </tr>
            <tr>
                <th style="vertical-align: text-top;">File Content:</th>
                <td>
                    <div style="background-color:white" contenteditable="true">
                        <pre>
                         @Model.FileContent
                        </pre>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @{
                        Html.RenderAction("GetEditLink", "Home", new { id = Model.FileId });
                    }
                    <input type="button" id="Cancel" value="Return" />
                </td>
            </tr>
        </table>
    </div>
</body>

