@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/table.css")    
}

@section Scripts{
    <script type="text/javascript"> 
        $("#Savefile").click(function () {
            var FileId = $("#FileId").val();
            var FileName = $("#FileName").val();
            var FileVersion = $("#FileVersion").text()
            var FileContent = $("#FileContent").text();
            $.ajax({
                url: "/Home/Edit",
                type: 'POST',
                async: false,
                data: { 'FileId': FileId, 'FileName': FileName, 'FileVersion': FileVersion, 'FileContent': FileContent },
                success: function (resultData) {
                    if (resultData['err']) {
                        alert(resultData["message"]);
                    }
                    alert("Edit Success");
                    location.href = "/home/index";
                }
            });
        });

        $("#Reset").click(function () {
            document.getElementById('FileName').value = "@Model.FileName";

        });

        $("#Cancel").click(function () {
            window.history.go(-1);
        });
    </script>
}

@using MvcFileManager.ViewModels
@model FileViewModel

<body>
    <div>
        <h2>Edit File Content</h2>
    </div>
    <div>
        <form action="/Home/Edit" method="post" enctype="multipart/form-data">
            <input id="FileId" name="FileId" value="@Model.FileId" hidden />
            <table class="sample">
                <tr>
                    <th>File Version:</th>
                    <td id="FileVersion">
                        @Model.Version

                    </td>
                </tr>
                <tr>
                    <th>File Name:</th>
                    <td>
                        <input type="text" id="FileName" name="FileName" value="@Model.FileName" />
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: text-top;">File Content:</th>
                    <td>
                        <div style="background-color:white" contenteditable="true" id="FileContent">
                            <pre>
                             @Model.FileContent
                            </pre>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="button" id="Savefile" name="BtnSubmit" value="Save" />
                        <input type="button" id="Reset" name="BtnReset" value="Reset" />
                        <input type="button" id="Cancel" name="BtnCancel" value="Cancel" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    
</body>
