@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/table.css")    
}

@using MvcFileManager.ViewModels
@model FileListViewModel

@section Scripts{
    <script type="text/javascript"> 
        $(function () {
            $("#tabs").tabs();
        });
        /*
        var checkboxcount = 0;
        $("table").on('change', '.vercheck', function () {
            $this = $(this);
            if ($this.get(0).checked) {
                checkboxcount = checkboxcount + 1;
            } else {
                checkboxcount = checkboxcount - 1;
            }
            if (checkboxcount > 2) {
                alert("only compare two files version");
                $this.attr("checked", false);
                checkboxcount = checkboxcount - 1
            }
        });
        */
        $("#VersionCompare").click(function () {
            var FileversionIds = [];
            var permission = $(this).data('permission');
            $(":checkbox").each(function () {
                if ($(this).is(':checked')) {
                    FileversionIds.push($(this).data('fileid'));
                }
            });
            if (FileversionIds.length > 2) {
                alert("Only choose two files version to compare!");
                return;
            }
            if (permission != "NonAuthenticatedUser" && permission != "AuthenticatedVisitor") {
                var v1 = FileversionIds[0];
                var v2 = FileversionIds[1];
                location.href = '/Home/VersionCompare?v1=' + v1 + '&&v2=' + v2;
            } else {
                alert("Insufficient permissions!");
                return;
            }
            
        });
        
        $("#Cancel").click(function () {
            window.history.go(-1);
        });
    </script>  
}

<body>
    <div id="tabs" style="min-height:450px">
        <div>
            <h2 style="margin: 10px 1px 5px 10px;float:left">File History</h2>
            <input type="button" id="VersionCompare" name="BtnSubmit" class="float-right" style="margin-right: 35px;" value="version compare" data-permission="@Model.Permission"/>
            <table class="sample">
                <tr>
                    <th>Version</th>
                    <th>File Name</th>
                    <th>Version</th>
                    <th>Creator</th>
                    <th>Upload Time</th>
                    <th>Operation</th>
                    <th>Status</th>
                </tr>
                 @foreach (FileViewModel file in Model.FileList)
                { 
                    <tr>
                        <td>
                            @if(file.FileContent != null)
                            {
                                <input class="vercheck" type="checkbox" data-fileid="@file.FileId"/>
                            }
                        </td>
                        <td>@file.FileName</td>
                        <td>@file.Version</td>
                        <td>@file.Creater</td>
                        <td>@file.UploadTime</td>
                        <td>
                            @if (file.FileContent != null)
                            { 
                                @Html.ActionLink("Details", "Details", new { id = file.FileId } )
                                <br /><br />
                                if (!Model.Permission.Equals("AuthenticatedVisitor"))
                                {
                                    @Html.ActionLink("ReEdit", "Edit", new { id = file.FileId } )
                                }
                            }
                            else
                            {
                                <p>
                                    Can't Edit!<br />
                                    File dosen't exist.
                                </p>
                            }
                        </td>
                        <td>
                            @if (file.FileContent != null)
                            {
                                if (Model.Permission.Equals("AuthenticatedVipUser")
                                    || Model.Permission.Equals("AuthenticatedAdmin"))
                                {
                                    @Html.ActionLink("Delete Version", "ConfirmDelete", new { id = file.FileId })
                                }
                                else
                                {
                                    <p>File Exists!</p>
                                }
                            }
                            else
                            {
                                 <p>File Deleted!</p>
                            }
                        </td>
                    </tr>
                }
            </table>
            <div>
                <input type="button" id="Cancel" name="BtnCancel" value="Return" />
            </div>
        </div>
    </div>
</body>

